{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<div class="card" id="card_state">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col-2">
								<i class="fa fa-medkit icon-huge"></i>
							</div>
							<div class="col-10 text-right">
								<div class="huge" id="product_name">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card" id="card_factory_state">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fa fa-industry icon-huge"></i>
							</div>
							<div class="col text-right">
								<div class="huge2" id="product_stock">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white bg-warning" id="inventory_state" data-toggle="modal" data-target="#modalInventory">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fa fa-check-square icon-huge" id="card_icon"></i>
							</div>
							<div class="col text-right">
								<div class="huge2" id="product_inventory">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">&nbsp;</div>
	</div>
	<div class="row" id="ws-content-receiver">
		Connecting...
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalInventory" tabindex="-1" role="dialog" aria-labelledby="modalInventoryTitle" aria-hidden="true" style="cursor: pointer">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalInventoryTitle">Changer l'inventaire</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary">Modifier</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var ws = null;
		var audioOK, audioKO, audioStock = null;

		(function () {
			'use strict';
			connectWebSocket();
			audioOK = new Audio('ok.wav');
			audioKO = new Audio('ko.wav');
			audioStock = new Audio('stock.wav');
		})();

		function connectWebSocket() {
			console.log('Connect to {{ ws_url }}');
			ws = new WebSocket('ws://{{ ws_url }}');
			var _receiver = document.getElementById('ws-content-receiver');

			ws.onopen = function () {
				_receiver.innerHTML = 'Connected !';
			};

			ws.onmessage = function (event) {
				try {
					var server_message = JSON.parse(event.data);
					console.log(server_message);

					if (server_message.state != null) {
						_receiver.innerHTML = server_message.state;
					} else if (server_message.cip != '') {
						displayProduct(server_message);

						if (server_message.stock == server_message.inentory) {
							audioOK.play();
						} else {
							audioKO.play();
						}
					} else {
						audioStock.play();
					}
				} catch (error) {
					console.log(error);
				}
			};

			ws.onclose = function () {
				console.log('OnClose');
				setTimeout(connectWebSocket, 2000);
			};

			ws.onerror = function () {
			};
		}

		function updateProductStock(product_id, new_qty) {
			ws.send('{"id":"' + product_id + '", "action":"update_qty", "qty":"' + new_qty + '"}');
		}

		function displayProduct(product) {
			$('#product_name').html(product.name);
			$('#product_stock').html(product.stock);
			$('#product_inventory').html(product.inventory);

			$('#inventory_state').removeClass().addClass("card text-white").addClass((product.inventory != product.stock) ? 'bg-danger' : 'bg-success');
		}
	</script>
{% endblock %}