{% extends 'base.html.twig' %}

{% block body %}

	<div class="row" id="ws-content-receiver">
		Connecting...
	</div>


	<div class="row">
		<div class="col">
			<div class="card" id="card_state">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col-2">
								<i class="fa fa-medkit icon-huge"></i>
							</div>
							<div class="col-10 text-right">
								<div class="huge" id="product_name">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card" id="card_factory_state">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fa fa-industry icon-huge"></i>
							</div>
							<div class="col text-right">
								<div class="huge2" id="product_stock">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white bg-warning" id="inventory_state" data-toggle="modal">
				<div class="card-header">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fa fa-check-square icon-huge" id="card_icon"></i>
							</div>
							<div class="col text-right">
								<div class="huge2" id="product_inventory">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col">
			<table id="inventory_history" class="display" cellspacing="0" width="100%">
				<thead>
				<tr>
					<th>Date</th>
					<th>CIP</th>
					<th>Description</th>
					<th>Stock</th>
					<th>Inventaire</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>Date</th>
					<th>CIP</th>
					<th>Description</th>
					<th>Stock</th>
					<th>Inventaire</th>
				</tr>
				</tfoot>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var ws = null;
		var current_product = null;
		var audioOK, audioKO, audioStock = null;
		var history_table = null;

		(function () {
			'use strict';

			// Set NumPad defaults for jQuery mobile.
			// These defaults will be applied to all NumPads within this document!
			$.fn.numpad.defaults.gridTpl = '<table class="table modal-content"></table>';
			$.fn.numpad.defaults.backgroundTpl = '<div class="modal-backdrop in"></div>';
			$.fn.numpad.defaults.displayTpl = '<input type="text" class="form-control  input-lg" />';
			$.fn.numpad.defaults.buttonNumberTpl =  '<button type="button" class="btn btn-default btn-lg"></button>';
			$.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn btn-lg" style="width: 100%;"></button>';
			$.fn.numpad.defaults.onKeypadCreate = function(){$(this).find('.done').addClass('btn-primary');};

			connectWebSocket();
			audioOK = new Audio('ok.wav');
			audioKO = new Audio('ko.wav');
			audioStock = new Audio('stock.wav');

			$('#card_factory_state').click(function() {
				updateProductStock(current_product);
			});

			$('#inventory_state').numpad({
				target: $('#product_inventory'),
				textDone: 'Modifier',
				textCancel: '',
				textClear: '',
				textDelete: 'Suppr <=',
				onKeypadClose: function(){
					current_product.inventory = $(this).find('.nmpd-display').val();
					updateInventory(current_product);
				}
			});

			$(document).ready(function() {
				history_table = $('#inventory_history').DataTable(mergeOptions(
					getPagerServerDataTablesDefaultOptions('/api/inventory/current/products',
						function (entry) {
							//
						},
						null,
						function () {
							return {
								sort: 'date',
								order: 'desc',
								view: ''
							};
						}
					), {
						buttons : [],
						columns: [
							{
								data: 'date',
								sortable: false,
								render: function (data, type, row, meta) {
									return moment(new Date(data)).format("DD/MM/YYYY HH:mm:ss");
								}
							},
							{data: 'cip', sortable: false},
							{data: 'name', sortable: false},
							{data: 'stock', sortable: false},
							{data: 'inventory', sortable: false},
						],
						iDisplayLength: 25,
					}
				));
			} );
		})();

		function connectWebSocket() {
			console.log('Connect to {{ ws_url }}');
			ws = new WebSocket('ws://{{ ws_url }}');
			var _receiver = document.getElementById('ws-content-receiver');
			ws.onopen = function () {
				_receiver.innerHTML = 'Connected !';
			};

			ws.onmessage = function (event) {
				try {
					var server_message = JSON.parse(event.data);
					console.log('WsMessage', server_message);

					switch (server_message.action) {
						case 'ready':
							_receiver.innerHTML = server_message.state;
							break;
						case 'inventory_scan':
							if (server_message.cip != '') {
								current_product = server_message.result;
								updateInventory(current_product, false);
							} else {
								audioStock.play();
							}
							break;
						default:
							_receiver.innerHTML = 'Action ' + server_message.action + ' unknown';
							break;
					}
				} catch (error) {
					console.log(error);
				}
			};

			ws.onclose = function () {
				console.log('OnClose');
				setTimeout(connectWebSocket, 2000);
			};

			ws.onerror = function () {
			};
		}

		function search(term) {
			ws.send('{"action":"search", "description":"' + term + '"}');
		}

		function updateInventory(product) {
			// Display product info
			displayProduct(product);

			// Play sound
			((product.stock == product.inventory) ? audioOK : audioKO).play();

			ws.send('{"action":"update_inventory_scan", "result":{"id":"' + product.id + '", "cip":"' + product.cip + '", "name":"' + product.name + '", "stock":"' + product.stock + '", "inventory":"' + product.inventory + '"}}');

			history_table.ajax.reload();
		}

		function updateProductStock(product) {
			product.stock = product.inventory;
			ws.send('{"action":"update_stock", "result":{"id":"' + product.id + '", "qty":"' + product.inventory + '"}}');
			updateInventory(product);
		}

		function displayProduct(product) {
			$('#product_name').html(product.name);
			$('#product_stock').html(product.stock);
			$('#product_inventory').html(product.inventory);

			$('#inventory_state').removeClass().addClass("card text-white").addClass((product.inventory != product.stock) ? 'bg-danger' : 'bg-success');
		}
	</script>
{% endblock %}